[submodule "aux/capstats"]
	path = aux/capstats
	url = ../capstats
[submodule "aux/pysubnettree"]
	path = aux/pysubnettree
	url = ../pysubnettree
[submodule "aux/trace-summary"]
	path = aux/trace-summary
	url = ../trace-summary
[submodule "cmake"]
	path = cmake
	url = ../cmake
