[submodule "aux/capstats"]
	path = aux/capstats
	url = git://git.bro.org/capstats
[submodule "aux/pysubnettree"]
	path = aux/pysubnettree
	url = git://git.bro.org/pysubnettree
[submodule "aux/trace-summary"]
	path = aux/trace-summary
	url = git://git.bro.org/trace-summary
[submodule "cmake"]
	path = cmake
	url = git://git.bro.org/cmake
